.exhibit-container {
  border: 2px solid darkgray;
  border-radius: 5px;
  width: 400px;
  margin: 50px;
  text-align: center;
}
.exhibit-name {
  border-bottom: 1px solid lightgray;
  margin: 5px 15px 10px 15px;
  padding: 10px;
}
